/*
 * The CSS stylesheet used by GTK is not super well documented, but
 * the source code can be used to discover all the elements that
 * can be specified.
 * https://gitlab.gnome.org/GNOME/gtk/-/blob/b2c227e9c57839a2a4e24462a71ae0bad9a95264/gtk/theme/Default/_colors-public.scss
 */

/*
 * The global variables.
 */
/*
:root {
  --blue: #1e90ff;
  --white: #ffffff;
}
*/

switch {
  background: yellow;
  color: magenta;
}

/*
#settings_box {
  min-width: 200px;
}
*/

#enable_agent_row switch {
  background: magenta;
}

#search_entry {
  margin: 12pt;
}

#search_entry {
  margin: 12pt;
}

.peak_button {
  margin: 12pt;
}

.password_entry {
  margin: 12pt;
}

combo {

}
